body {
    background-color: #536dff; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Garamond, serif;
}

/* Intro Styles */

.intro {
    max-width: 1500px;
    text-align: center;
    margin: 20px;
}

.intro img {
    max-width: 30%; /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing */
    margin: 0 auto; /* Center horizontally and add bottom margin */
}

.intro h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    text-align: center;
}

.intro p {
    margin: 0;
    font-size: 30px;
    color: #040404;
    text-align: center; 
    font-style: italic;
}

/* Form Styles */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    margin: 0 auto;
}

.formBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.formBox form {
    display: flex;
    flex-direction: column;
}

.formBox h2 {
    margin-bottom: 10px;
    text-align: center;
}

.formBox input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formBox button {
    padding: 10px;
    background-color: #536dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formBox button:hover {
    background-color: #060078d3;
}

/* Modal styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
  }
  
  .modal-content {
    text-align: center;
  }
  
  
  .modal-content button {
    padding: 10px 20px;
    background-color: #536dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #060078d3;
  }
  